@import 'base';
@import 'colors';
@import 'typography';
@import 'breakpoints';

@import 'compass/css3';

/*=========================================================
 * general styles
 *=======================================================*/

body {
	background: $dark-blue;
}

.band {
	width: 100%;
}

figure {
	margin: 24px auto;
	max-width: 100%;
	text-align: center;

	@include breakpoint(larger-than-phablet) {
		max-width: 80%;
	}
}

/*=========================================================
 * header
 *=======================================================*/

.header {
	background: $dark-blue;
}

header {
	width: 100%;
	padding: 24px;

	@include breakpoint(larger-than-desktop-hd) {
		width: $desktop-hd;
		margin-left: auto;
		margin-right: auto;
	}
}

/*---------------------------------------------------------
 * header
 *-------------------------------------------------------*/

$title-height: 48px;

.site-title {
	display: inline-block;
	height: $title-height;
}

.site-title svg {
	display: inline-block;
	width: 36px;
	height: 36px;

	path {
		fill: $light-blue;
	}
}

.site-title h1 {
	display: inline-block;
	height: $title-height;
	vertical-align: middle;
	color: $light-green;
	font-size: 21px;
	line-height: 21px;
	margin: 0 0 0 8px;
	text-transform: none;

	@include breakpoint(larger-than-phablet) {
		font-size: 28px;
		line-height: 28px;
	}
}

/*---------------------------------------------------------
 * navigation drawer (small screens)
 *-------------------------------------------------------*/

.menu-button {
	display: inline-block;
	float: right;
	width: 48px;
	height: 48px;
	background: none;
	border: none;
	padding: 0;

	path {
		fill: $nav-color;
	}

	&:focus {
		outline: 0;
	}
}

body.open {
	overflow: hidden;
}

$nav-drawer-width: 260px;

nav {
	width: $nav-drawer-width;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include transform(translate(-$nav-drawer-width, 0px));
	@include transition(transform 0.3s ease);
	z-index: 1;
	overflow-y: auto;

	background: #1D2E60;
	color: $nav-color;
	padding: 24px;
}

nav.open {
	@include transform(translate(0px, 0px));
	@include box-shadow(2px 0px 10px 0px rgba(59, 60, 71, 0.3));
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;

	border-bottom: solid 1px #2C4693;
	&:last-child {
		border-bottom: none;
	}
}

nav a {
	@include font-structure;
	color: $nav-color;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	font-size: 18px;
	line-height: 72px;

	@include transition(color 0.1s ease);

	&:hover, &:focus {
		color: $light-green;
	}
}

/*---------------------------------------------------------
 * navigation links (large screens)
 *-------------------------------------------------------*/

@include breakpoint(larger-than-desktop) {
	.menu-button {
		display: none;
	}

	nav {
		width: auto;
		position: static;
		transform: none;
		transition: none;
		float: right;

		background: none;
		padding: 0;

		@include box-shadow(none);
	}

	nav li {
		display: inline-block;
		border: none;

		margin: 0 18px;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 18px;
		}
	}

	nav a {
		display: inline-block;
		line-height: 24px;
	}

	.nav-external {
		padding: 6px 18px;
		border: 2px solid $nav-color;
		@include border-radius(24px + 2*6px);
		@include transition(color 0.1s ease, border-color 0.1s ease);

		&:hover {
			border-color: $light-green;
		}
	}
}

/*---------------------------------------------------------
 * page title
 *-------------------------------------------------------*/

.page-title {
	width: 100%;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 24px;
}

.page-title h2 {
	color: $title-color;
	font-size: 48px;
	font-weight: bold;
	line-height: 48px;
	margin: 0;

	@include breakpoint(larger-than-phablet) {
		font-size: 64px;
		line-height: 64px;
	}
}

/*=========================================================
 * main content
 *=======================================================*/

.main {
	background: white;
}

main {
	width: 100%;
	padding: 24px;

	@include breakpoint(larger-than-tablet) {
		width: $tablet;
		margin-left: auto;
		margin-right: auto;
	}
}

/*=========================================================
 * footers
 *=======================================================*/

footer {
	width: 100%;

	@include breakpoint(larger-than-desktop-hd) {
		width: $desktop-hd;
		margin-left: auto;
		margin-right: auto;
	}
}

/*---------------------------------------------------------
 * social links footer
 *-------------------------------------------------------*/

.social {
	background: $light-blue;
	padding-top: 24px;
	padding-bottom: 24px;
}

.social footer {
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.social footer a {
	display: inline-block;
	margin: 0 12px;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.social footer svg {
	height: 48px;
	width: 48px;

	path {
		fill: $dark-blue;
	}
}

.social footer:hover path {
	opacity: 0.6;
	@include transition(opacity 0.15s ease);
}

.social footer:hover a:hover path {
	opacity: 1.0;
}

/*---------------------------------------------------------
 * end footer
 *-------------------------------------------------------*/

.footer {
	background: $dark-blue;
}

.footer footer {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;

	@include breakpoint(larger-than-tablet) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.footer footer a {
	@include font-structure;
	display: block;
	font-size: 18px;
	line-height: 48px;
	color: $footer-color;
	text-decoration: none;
	text-transform: uppercase;

	&:hover, &:focus {
		color: $light-green;
	}
}

.footer footer .back-to-top {
	@include breakpoint(larger-than-tablet) {
		display: none;
	}
}

/*=========================================================
 * other
 *=======================================================*/

.welcome-picture {
	margin: 24px 15px 0 15px;
}

.welcome-picture img {
	width: 350px;
	max-width: 100%;
	@include border-radius(100%);
}
