@import 'compass/css3/animation';

.pub-year h4 {
  margin: 12px 0;
}

.pub-articles {
  padding: 0;
}

.pub-article {
  list-style-type: none;
  margin-bottom: 12px;
}

.pub-title {
  font-weight: bold;
}

.pub-authors {
  padding: 0;
}

.pub-author {
  list-style-type: none;
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}

.pub-source {
  font-style: italic;
}

@include keyframes(loading) {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}

.pub-loading {
  @include animation(loading 2s ease-in-out 0.5s infinite);
}
