/* line 1, ../scss/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/_base.scss */
body {
  position: relative;
  min-height: 100%;
}

/* line 13, ../scss/_base.scss */
div, main, header, footer, nav {
  box-sizing: border-box;
}

/* line 17, ../scss/_base.scss */
img, embed, object, video {
  max-width: 100%;
}

/* line 16, ../scss/_typography.scss */
body {
  font-size: 18px;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 24px;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 20, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #579307;
  margin-top: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

/* line 29, ../scss/_typography.scss */
p {
  margin-top: 0;
  margin-bottom: 24px;
}

/* line 34, ../scss/_typography.scss */
a {
  color: #0F3093;
  text-decoration: none;
}
/* line 37, ../scss/_typography.scss */
a:hover, a:focus {
  color: #541708;
}

/*=========================================================
 * general styles
 *=======================================================*/
/* line 12, ../scss/main.scss */
.band {
  width: 100%;
}

/*=========================================================
 * header
 *=======================================================*/
/* line 20, ../scss/main.scss */
.header {
  background: #001247;
}

/* line 24, ../scss/main.scss */
header {
  width: 100%;
  padding: 24px;
}
@media (min-width: 1400px) {
  /* line 24, ../scss/main.scss */
  header {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*---------------------------------------------------------
 * header
 *-------------------------------------------------------*/
/* line 39, ../scss/main.scss */
.site-title {
  display: inline-block;
  height: 72px;
}

/* line 44, ../scss/main.scss */
.site-title svg {
  width: 36px;
  height: 36px;
}
/* line 48, ../scss/main.scss */
.site-title svg path {
  fill: #0F3093;
}

/* line 53, ../scss/main.scss */
.site-title h1 {
  color: #579307;
  font-size: 28px;
  line-height: 28px;
  margin: auto 0 0 0;
  text-transform: none;
}

/*---------------------------------------------------------
 * navigation drawer (small screens)
 *-------------------------------------------------------*/
/* line 65, ../scss/main.scss */
.menu-button {
  display: inline-block;
  float: right;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  padding: 0;
}
/* line 74, ../scss/main.scss */
.menu-button path {
  fill: #fff;
}
/* line 78, ../scss/main.scss */
.menu-button:focus {
  outline: 0;
}

/* line 83, ../scss/main.scss */
body.open {
  overflow: hidden;
}

/* line 89, ../scss/main.scss */
nav {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transform: translate(-260px, 0px);
  -ms-transform: translate(-260px, 0px);
  -webkit-transform: translate(-260px, 0px);
  transform: translate(-260px, 0px);
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  z-index: 1;
  overflow-y: auto;
  background: #1D2E60;
  color: #fff;
  padding: 24px;
  -moz-box-shadow: 2px 0px 10px 0px rgba(59, 60, 71, 0.3);
  -webkit-box-shadow: 2px 0px 10px 0px rgba(59, 60, 71, 0.3);
  box-shadow: 2px 0px 10px 0px rgba(59, 60, 71, 0.3);
}

/* line 109, ../scss/main.scss */
nav.open {
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/* line 113, ../scss/main.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 118, ../scss/main.scss */
nav li {
  list-style-type: none;
  border-bottom: solid 1px #2C4693;
}
/* line 122, ../scss/main.scss */
nav li:last-child {
  border-bottom: none;
}

/* line 127, ../scss/main.scss */
nav a {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  line-height: 72px;
}
/* line 136, ../scss/main.scss */
nav a:hover {
  color: #579307;
}

/*---------------------------------------------------------
 * navigation links (large screens)
 *-------------------------------------------------------*/
@media (min-width: 850px) {
  /* line 146, ../scss/main.scss */
  .menu-button {
    display: none;
  }

  /* line 150, ../scss/main.scss */
  nav {
    width: auto;
    height: 72px;
    position: static;
    transform: none;
    transition: none;
    float: right;
    background: none;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* line 164, ../scss/main.scss */
  nav li {
    display: inline-block;
    border: none;
    margin: 0 18px;
  }
  /* line 170, ../scss/main.scss */
  nav li:first-child {
    margin-left: 0;
  }
  /* line 173, ../scss/main.scss */
  nav li:last-child {
    margin-right: 18px;
  }

  /* line 178, ../scss/main.scss */
  nav a {
    display: inline-block;
    line-height: 24px;
  }

  /* line 183, ../scss/main.scss */
  .nav-external {
    padding: 6px 18px;
    border: 2px solid #fff;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
  }
  /* line 188, ../scss/main.scss */
  .nav-external:hover {
    border-color: #579307;
  }
}
/*---------------------------------------------------------
 * page title
 *-------------------------------------------------------*/
/* line 198, ../scss/main.scss */
.page-title {
  width: 100%;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
}

/* line 205, ../scss/main.scss */
.page-title h2 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}
@media (min-width: 550px) {
  /* line 205, ../scss/main.scss */
  .page-title h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

/*=========================================================
 * main content
 *=======================================================*/
/* line 222, ../scss/main.scss */
.main {
  background: white;
}

/* line 226, ../scss/main.scss */
main {
  width: 100%;
  padding: 24px;
}
@media (min-width: 850px) {
  /* line 226, ../scss/main.scss */
  main {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*=========================================================
 * footers
 *=======================================================*/
/* line 241, ../scss/main.scss */
footer {
  width: 100%;
}
@media (min-width: 1400px) {
  /* line 241, ../scss/main.scss */
  footer {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*---------------------------------------------------------
 * social links footer
 *-------------------------------------------------------*/
/* line 255, ../scss/main.scss */
.social {
  background: #0F3093;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* line 261, ../scss/main.scss */
.social footer {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

/* line 267, ../scss/main.scss */
.social footer a {
  display: inline-block;
  margin: 0 12px;
}
/* line 271, ../scss/main.scss */
.social footer a:first-child {
  margin-left: 0;
}
/* line 274, ../scss/main.scss */
.social footer a:last-child {
  margin-right: 0;
}

/* line 279, ../scss/main.scss */
.social footer svg {
  height: 48px;
}
/* line 282, ../scss/main.scss */
.social footer svg path {
  fill: #001247;
}

/*---------------------------------------------------------
 * end footer
 *-------------------------------------------------------*/
/* line 291, ../scss/main.scss */
.footer {
  background: #001247;
}

/* line 295, ../scss/main.scss */
.footer footer {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (min-width: 850px) {
  /* line 295, ../scss/main.scss */
  .footer footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* line 306, ../scss/main.scss */
.footer footer a {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: block;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  /* line 316, ../scss/main.scss */
  .footer footer .back-to-top {
    display: none;
  }
}
